.git
.github
.gitignore
node_modules
vendor
tests
.env
.env.testing
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker
docker-compose.yml
Makefile
README.md
docs
*.md